@vfuk:registry=https://vfuk-digital.pkgs.visualstudio.com/_packaging/Web/npm/registry/
@vibe-tools:registry=https://nexus.tools.aws.vodafone.com/repository/npm-group/
@cyberhub:registry=https://nexus.tools.aws.vodafone.com/repository/npm-group/
@vf-djr:registry=https://nexus.tools.aws.vodafone.com/repository/npm-group/
@vf-djr-plugins:registry=https://nexus.tools.aws.vodafone.com/repository/npm-group/
registry=https://registry.npmjs.org/
always-auth=true

//nexus.tools.aws.vodafone.com/repository/npm-group/:_authToken=NpmToken.33eb441a-1157-3046-bd01-a10621ddd668
; begin auth token
//vfuk-digital.pkgs.visualstudio.com/_packaging/Web/npm/registry/:username=vfuk-digital
//vfuk-digital.pkgs.visualstudio.com/_packaging/Web/npm/registry/:_password=N3ltZ2RwZnZmN3l6M3YzZXYyazJsaHJtM2NwZzNuZmllamM2bmp4dDZtNWtmYWR4aTRtcQ==
//vfuk-digital.pkgs.visualstudio.com/_packaging/Web/npm/registry/:email=npm requires email to be set but doesn't use the value
//vfuk-digital.pkgs.visualstudio.com/_packaging/Web/npm/:username=vfuk-digital
//vfuk-digital.pkgs.visualstudio.com/_packaging/Web/npm/:_password=N3ltZ2RwZnZmN3l6M3YzZXYyazJsaHJtM2NwZzNuZmllamM2bmp4dDZtNWtmYWR4aTRtcQ==
//vfuk-digital.pkgs.visualstudio.com/_packaging/Web/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
